:root {
  --text-default-color: #838383;
  --text-hover-color: #ff6700;
  --button-background-color: #ff5c00;
  --button-hover-background-color: #ff7e29;
}

body {
  font-feature-settings: "tnum", "tnum";
  background-color: #fff;
  color: rgba(0, 0, 0, .85);
  font-family: MiSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  font-variant: tabular-nums;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .day.dark-scheme {
    background: #333;
    color: white;
  }

  .night.dark-scheme {
    background: black;
    color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#app {
  height: 100%;
  width: 100vw;
}

a {
  color: var(--text-default-color);
}

a:hover {
  color: var(--text-hover-color);
}

button {
  border: 0;
  outline: none;
}